[submodule "mesh-router-tunnel"]
	path = mesh-router-tunnel
	url = https://github.com/Yundera/mesh-router-tunnel.git
[submodule "mesh-router-backend"]
	path = mesh-router-backend
	url = https://github.com/Yundera/mesh-router-backend.git
[submodule "mesh-router-agent"]
	path = mesh-router-agent
	url = https://github.com/Yundera/mesh-router-agent.git
[submodule "mesh-router-gateway"]
	path = mesh-router-gateway
	url = https://github.com/Yundera/mesh-router-gateway.git
[submodule "mesh-router-template-root"]
	path = mesh-router-template-root
	url = https://github.com/Yundera/mesh-router-template-root.git
[submodule "mesh-dashboard"]
	path = mesh-dashboard
	url = https://github.com/Yundera/mesh-dashboard.git
[submodule "mesh-router-gateway-cf"]
	path = mesh-router-gateway-cf
	url = https://github.com/Yundera/mesh-router-gateway-cf.git
[submodule "mesh-router-perf"]
	path = mesh-router-perf
	url = https://github.com/Yundera/mesh-router-perf.git
[submodule "mesh-router-caddy"]
	path = mesh-router-caddy
	url = https://github.com/Yundera/mesh-router-caddy.git
[submodule "mesh-router-auth"]
	path = mesh-router-auth
	url = https://github.com/Yundera/mesh-auth.git
[submodule "mail-gateway"]
	path = mail-gateway
	url = https://github.com/Yundera/mail-gateway
